html {
  background-color: red;
}
.App {
  text-align: center;
  background-color: blue;
}

.App-header {
  background-color: #49796b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Landing-screen {
  background-color: #95afa7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 40vh;
}

.Content {
  background-color: #699185;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.App-footer {
  background-color: #49796b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 20vh;
}
